<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="classes" thread-count="3" verbose="3">

    <parameter name="url" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login" />
    <parameter name="apiUrl" value="https://jsonplaceholder.typicode.com/" />
    <parameter name="browser" value="localChrome" />
    <parameter name="dbHost" value="mariadb105.server122739.nazwa.pl" />
    <parameter name="dbName" value="server122739_nation" />
    <parameter name="dbPort" value="3306" />
    <parameter name="dbUserName" value="server122739_nation" />
    <parameter name="dbPassword" value="***" />






    <test name="ChromeTest">
        <classes>
            <class name="pl.przemeknojman.WhenTestingDBTest" />
            <class name="pl.przemeknojman.WhenTestingUITest" />
            <class name="pl.przemeknojman.WhenTestingRestApiTest" />
        </classes>
    </test>

<!--    <test name="FireFoxTest">-->
<!--        <parameter name="browser" value="localFirefox" />-->
<!--        <classes>-->
<!--            <class name="pl.przemeknojman.WhenTestingUITest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="EdgeTest">-->
<!--        <parameter name="browser" value="localEdge" />-->
<!--        <classes>-->
<!--            <class name="pl.przemeknojman.WhenTestingUITest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ChromeTest2">-->
<!--        <parameter name="browser" value="localChrome" />-->
<!--        <classes>-->
<!--            <class name="pl.przemeknojman.WhenTestingUITest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="FireFoxTest2">-->
<!--        <parameter name="browser" value="localFirefox" />-->
<!--        <classes>-->
<!--            <class name="pl.przemeknojman.WhenTestingUITest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="EdgeTest2">-->
<!--        <parameter name="browser" value="localEdge" />-->
<!--        <classes>-->
<!--            <class name="pl.przemeknojman.WhenTestingUITest" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>